{% extends 'layout.html' %}

{% block title %}
About Page
{% endblock %}

{% block content %}
<section id="section-about" class="bg-grey">
    <div class="heading">
      ENGAGING THROUGH PLAY
    </div>
    <div class="container">
<p>Our Gaming Studio specializes in the design and development of world-class games and digital platforms, which
work across console, PC, web, social and mobile channels.</p>
<p>We enable our clients to leverage game mechanics with a different approach; helping them develop the vision
and carry out an idea through production, launch and operation. Backed up by our solid expertise and work with
the most recognized companies in the gaming industry, we help our customers add significant value to their
business. We combine experience, creative talent, solid technology frameworks, and processes to scale and
foster innovation.</p>
</br>
</div>
</section></br>
{% endblock %}