<!DOCTYPE html>
<html lang="en">

<head>
  <title>My First Project- Aztec Game Studios</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="assets\css\main_styles.css">
</head>

<body>
  <div class="panel-footer panel-custom">
    <span class="text-muted">
      <i>aztecgamestudios.com </i>
      <script type="text/javascript">

        document.write(new Date().getFullYear());
      </script>
      <i> Copyright. All Rights Reserved</i>

    </span>
  </div>
</body>

</html>